* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: #07070a;
  color: white;
  overflow-x: hidden;
}

/* background glow */
.bg {
  position: fixed;
  width: 100%;
  height: 100%;
  background: radial-gradient(circle at top, #00ff88, transparent 40%),
              radial-gradient(circle at bottom, #ff7a00, transparent 40%);
  filter: blur(90px);
  z-index: -1;
}

/* HERO */
.hero {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.hero h1 {
  font-size: 70px;
  letter-spacing: 4px;
}

.hero p {
  opacity: 0.7;
  margin-top: 10px;
}

/* buttons */
.buttons {
  margin-top: 20px;
}

.buttons a {
  display: inline-block;
  padding: 10px 20px;
  margin: 0 10px;
  border: 1px solid #00ff88;
  color: white;
  text-decoration: none;
  transition: 0.3s;
}

.buttons a:hover {
  background: #00ff88;
  color: black;
  box-shadow: 0 0 20px #00ff88;
}

/* sections */
.section {
  padding: 120px 20px;
  text-align: center;
}

.section h2 {
  font-size: 40px;
  margin-bottom: 20px;
}

/* socials */
.socials a {
  font-size: 35px;
  margin: 0 15px;
  color: white;
  transition: 0.3s;
}

.socials a:hover {
  color: #ff7a00;
  transform: scale(1.2);
  text-shadow: 0 0 20px #ff7a00;
}

/* footer */
footer {
  text-align: center;
  padding: 50px;
  opacity: 0.5;
}
